<div class="row">
  <div class="col-xm-2 col-md-3 pb-1 pl-1">
    <!-- Button trigger new order modal -->
    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#newOrderModal">הוספת תג חדש</button>
  </div>
  <div class="col-xm-2 col-md-3 pb-1 pl-1">
    <form method="post" action="/run_rfid">
        <input type="submit" class="btn btn-success btn-block" value="הפעל קורא" />
    </form>
  </div>
  <div class="col-xm-2 col-md-3 pb-1 pl-1">
    <form method="post" action="/delete_rfid_table">
        <input type="submit" class="btn btn-danger btn-block" value="מחק רשומות" />
    </form>
  </div>
</div>
<br>
<div class="table-responsive">
  <table class="table" id="DataTable">
    <thead class="thead-light">
      <tr>
        <!--<th>מס"ד</th>-->
        <th>מק"ט</th>
        <!--<th>ספירה</th>
        <th>עוצמה</th>
        <th>פאזה</th>-->
        <th>זמן קריאה</th>
        <th>מספר קורא</th>
        <th>מספר אנטנה</th>
      </tr>
    </thead>
    <tbody>
      {{#rfid_list}}
        <tr>
          <!--<td>{{id}}</td>-->
          <td>{{epc_id}}</td>
          <!--<td>{{count}}</td>
          <td>{{rssi}}</td>
          <td>{{phase}}</td>-->
          <td>{{adding_date}}</td>
          <td>{{reader_number}}</td>
          <td>{{antenna_id}}</td>
      {{/rfid_list}}
        </tr>
    </tbody>
  </table>
</div>

<!-- Modal new order -->
<div class="modal fade" id="newOrderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <form class="form-horizontal" action="/add" method="post">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">הוסף תג חדש</h5>
        <button type="button" class="close-left" data-dismiss="modal" aria-label="Close">
          <spanaria-hidden="true">&times;</span>
        </button>
      </div>
              <div class="container">
                <div class="row">
                      <div class="form-group col-xs-12 col-md-6 pr-4">
                          <div class="row">
                            <label for="worker_name" class="control-label">שם עובד</label>
                            <input type="text" class="form-control" id="worker_name" name="worker_name">
                          </div>
                      </div>

                      <div class="form-group col-xs-12 col-md-6 pr-4 pl-4">
                          <div class="row">
                            <label for="worker_last_name" class="control-label">שם משפחה</label>
                            <input type="text" class="form-control" id="worker_last_name" name="worker_last_name">
                          </div>
                      </div>

                      <div class="form-group col-xs-12 col-md-6 pr-4">
                          <div class="row">
                            <label for="worker_tel" class="control-label">טלפון</label>
                            <input type="text" class="form-control" id="worker_tel" name="worker_tel">
                          </div>
                      </div>

                      <div class="form-group col-xs-12 col-md-6 pr-4 pl-4">
                        <div class="row">
                        <label for="worker_mail" class="control-label">אימייל</label>
                        <input type="text" class="form-control" id="worker_mail" name="worker_mail">
                        </div>
                      </div>
                  </div>
                    <div class="modal-footer">
                      <div class="col-xs-6 col-md-6">
                        <input type="submit" class="btn btn-primary btn-block" value="שלח" />
                      </div>
                      <div class="col-xs-6 col-md-6">
                        <button type="reset" class="btn btn-secondary btn-block" data-dismiss="modal">סגור</button>
                      </div>
                    </div>
            </div>
    </form>
  </div>
</div>
</div>
